<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>動物詳細画面</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>動物詳細画面</h1>
	<ul style="list-style: none">
		<li th:each="animal : ${animalDetail}">
			<p th:text="'No：' + ${animal.id}"></p>
			<p th:text="'英名：' + ${animal.name}"></p>
			<p th:text="'和名：' + ${animal.japaneseName}"></p>
			<p th:text="'鳴き声：' + ${animal.cry}"></p>
		</li>
	</ul>
	<form action="/animalAPI" method="get">
		<input type="submit" value="トップへ">
	</form>
</body>